@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&display=swap');


.title{
    font-family: 'Bentham', serif;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    background-image: url();   
}
       
.subtitle{
    font-size: 2vw;
    font-family: 'Annie Use Your Telescope', cursive;
}

.search{
    display: block;
    width: 20%;
    margin:1%;
    
}
.Btn{
    width:40%;
    height:40%;
    margin:2%
}

.input{
    border: grey solid
}
 
.select{
    margin:4%;
    
}
    
.center{
     display: block;
    
     margin-right: auto;
     width: 20%;

}

/* Can use style.css for both .htmls */
/* Must give unique id/class names for similar 
selectors, such as <h1 id = "index header"> vs
<h1 id = "search header>*/

/* Bulma uses $<attribute>: value; for properties */
/* Ex: $purple: #8A4D76; */
/* $body-background-color: $purple; */

body{

}

header{

}

h1 {

}

h2 {

}

h3 {

}

p {

}

.img {

}

footer {

}

/* Can import other .sass modules above bulma */
/* Goes at bottom of page after everything else */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
