@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&display=swap');

/* index.html elements */
/* Main background image near header of page */
.background-image{
    background-repeat: none;
    background-size: contain;
}

/* Title of page: "Tasty Tasty" */
.title{
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url();
}   

/* Subtitle of page: "Easy Recipe Finder" */
.subtitle{
    font-size: 3vw;
    font-family: 'Annie Use Your Telescope', cursive;
}

/* Search bar boxes*/
.search{
    display: inline-block;
    width: 20%;
    margin: 1%;   
}

/* Search buttons */
.Btn{
    width: 40%;
    height: 40%;
    margin: 2%;
}

/* Input for search bars */
.input{
    border: grey solid;
    display: block;  
}
 
/* Drop-down menu */
.select{
    margin: 4%;  
}

/* Image variable */
.image{
    margin-bottom: 6%;
}

.clear-history{
    display: inline-flex;
}

.search-history{
    display: flex;
}

/* Goes at bottom of page after everything else */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
